@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Heebo',
        sans-serif;
}

.container {
    max-width: 856px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

:root {

    /* *******font_size******* */
    --fs_xs: 14px;
    --fs_sm: 16px;
    --fs_md: 18px;
    --fs_base: 20px;
    --fs_lg: 22px;
    --fs_xl: 26px;
    --fs_2xl: 30px;
    --fs_3xl: 44px;

    /* ****************font_weight************* */
    --fw_normal: 400;
    --fw_bold: 700;
}
.fs_xs {
    font-size: var(--fs_xs);
}
.fs_sm {
    font-size: var(--fs_sm);
}
.fs_md {
    font-size: var(--fs_md);
}
.fs_base {
    font-size: var(--fs_base);
}
.fs_lg {
    font-size: var(--fs_lg);
}
.fs_xl {
    font-size: var(--fs_xl);
}
.fs_2xl {
    font-size: var(--fs_2xl);
}
.fs_3xl {
    font-size: var(--fs_3xl);
}
.d_flex {
    display: flex;
}
.justify_content_flex_end {
    justify-content: flex-end;
}
.fs_20 {
    font-size: 20px;
}
.ms_4 {
    margin-left: 24px;
}
.clr_black {
    color: #000000;
}
.mt_3 {
    margin-top: 16px;
}
.row {
    display: flex;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
    flex-wrap: wrap;
}
.col_2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}
.fs_44 {
    font-size: 44px;
}

.fw_700 {
    font-weight: 700;
}

.fs_14 {
    font-size: 14px;
}

.fw_400 {
    font-weight: 400;
}

.justify_content_space_between {
    justify-content: space-between;
}

.mt_5 {
    margin-top: 48px;
}

.pt_5 {
    padding-top: 48px;
}

.clr_white {
    color: white;
}

.bgc_orange {
    background-color: #FF6464;
}

.d_inline_block {
    display: inline-block;
}

.px_3 {
    padding-left: 16px;
    padding-right: 16px;
}

.py_2 {
    padding-bottom: 8px;
    padding-top: 8px;
}

.bgc_skyblue {
    background-color: #EDF7FA;
}

.fs_22 {
    font-size: 22px;
}

.fs_16 {
    font-size: 16px;
}

.clr_skyblue {
    color: #00A8CC;
}

.pb_5 {
    padding-bottom: 48px;
}

.mb_5 {
    margin-bottom: 48px;
}

.bgc_white {
    background-color: white;
}

.fs_26 {
    font-size: 26px;
}

.p_3 {
    padding: 16px;
}

.height {
    height: 17px;
    border: 1px solid black;
}

.align_items_center {
    align-items: center;
}

.me_2 {
    margin-right: 8px;
}

.ms_2 {
    margin-left: 8px;
}

.fs_30 {
    font-size: 30px;
}

.width_100 {
    width: 100%;
}

.clr_grey {
    color: #8695A4;
}

.fw_900 {
    font-weight: 900;
}

.fs_18 {
    font-size: 18px;
}

.bgc_blue {
    background-color: #142850;
}

.px_12 {
    padding-left: 12px;
    padding-right: 12px;
}

.border_radius_12 {
    border-radius: 12px;
}

.me_3 {
    margin-right: 16px;
}

.mb_3 {
    margin-bottom: 16px;
}

.mb_2 {
    margin-bottom: 8px;
}

.justify_content_center {
    justify-content: center;
}

.me_5 {
    margin-right: 48px;
}

.width_456 {
    max-width: 456px;
}

.width_856 {
    width: 856px;
    border: 1px solid #E0E0E0;
}

.width_450 {
    max-width: 450px;
}

.text_align_center {
    text-align: center;
}

.flex_reverse {
    flex-direction: row-reverse;
}

@media (max-width:576px) {
    .col_xsm_12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;

    }
    .width_450{
        width: 100%;
    }

    .column_reverse {
        flex-direction: column-reverse;
    }

    .mt_xsm_3 {
        margin-top: 16px;
    }

    .col_8 {
        text-align: center;
    }

    :root {
        --fs_xs: 10px;
        --fs_sm: 14px;
        --fs_md: 16px;
        --fs_base: 18px;
        --fs_lg: 20px;
        --fs_xl: 24px;
        --fs_2xl: 25px;
        --fs_3xl: 25px;
    }




}